body {
  display: flex;
  background-image: linear-gradient(to right bottom, #9629be, #e40090, #ff385e, #ff7930, #ebb012);
  background-attachment: fixed;
  flex-direction:column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

// by default, make any new children of body to span the full track
body > * {
  padding: 2rem 1rem;
}

// header, the first grid row
// it is also a grid for the logo and nav
header {
  display: flex;
  background-color: #ffffff4d;
  backdrop-filter: blur(10px);
  padding: 2rem;
  position:fixed;
  width:100%;
  justify-content: space-between;
  @media screen and (min-width: $screen-sm-min) {
    
  }
}

.intro-home{
  display:flex;
  flex-direction:row;
  
}
.intro-home .col{
  display:flex;
  max-width:600px;
}
.intro-home .col:nth-child(1) {
  flex-direction:column;
  justify-content: center;
  width:40%;
}
.intro-home .col:nth-child(1) h1{
  font-size:50px;
}
.intro-home .col:nth-child(2) {
  width:60%;
}


// logo, is a grid item
header > h1 {
  display: inline-block;
  padding-bottom: 1rem;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
  a,
  a:visited {
    text-decoration: none;
    border: 0;
    color: white;
    font-size: 16px;
    @media screen and (min-width: $screen-sm-min) {
      padding: 1rem;
    }
  }
  a:hover {
    color: white;
  }
}

header > nav ul ul{
    display:none;
    background: #000;
    position: absolute;
    backdrop-filter: blur(20px);
    color: #000;
    filter: invert(1);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

header > nav ul ul li a{
  font-size: 16px;
}

header > nav li:hover > ul{
    display:flex;
    flex-direction:column;
}

header > nav ul{
  @media screen and (max-width: $screen-lg-min) {
    flex-direction: column;
    z-index: 99999;
    background: #ccc;
    padding: 50px 15px;
  }
}

// main menu, is a grid item
header > nav {
  @media screen and (max-width: $screen-lg-min) {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
  }
  ul {
    // flexbox is better than grid for distributing an unknown qty of children
    display: flex;
    li {
      margin-right: 2rem;
      display: inline-block;
      @media screen and (min-width: $screen-sm-min) {
        margin-right: 0;
      }
      a,
      a:visited {
        color: white;
        text-decoration: none;
        border: 0;
        @media screen and (min-width: $screen-sm-min) {
          padding: 1rem;
        }
        &[data-current="current page"] {
          // you can add an active nav item style here
        }
      }
      a:hover {
        color: white;
      }
    }
  }
}

// our main content wrapper, the width scales with font size
main {
  width: 100%;
  max-width: 75vw;
  display: flex;
  padding-top: 8rem;
  padding-bottom: 8rem;
  flex-direction: column;
  @media screen and (min-width: $screen-md-min) {
    align-content: start;
  }
}


// blog posts list
html[data-current="blog"] main > section {
  ul li {
    padding: 2rem 0;
    border-bottom: 0.05em solid $hairline-color;
    p {
      padding-bottom: 0;
    }
  }
}

// adjacent blog posts links
nav[aria-label="Adjacent Posts"] {
  padding: 4rem 0;
  ul {
    display: flex;
    li {
      flex: 0 0 50%;
      width: auto;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

// contact form
html[data-current="contact"] main > form {
  display: flex;
  label {
    display: none;
  }
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  button {
    width: 100%;
  }
}

// reset CSS Grid fallbacks when they aren't required
@supports (display: grid) {
  html[data-current="contact"] main > form {
    input,
    textarea,
    button {
      width: auto;
      max-width: none;
    }
  }
}

footer {
  display: flex;
  background-color: #0e0e0e;
  width:100%;
  justify-content: center;
  > small {
    grid-column: flex;
    text-align: center; 
  }
}
